.contact-page {
    min-height: 90vh;
}

.contact-header {
    color: white;
    font-size: 64px;
    text-align: center;
    display: block;
    margin-bottom: 12px;
}

.contact-form {
    text-align: center;
}

.contact-input {
    display: block;
    font-size: 24px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 0;
}

.contact-submit {
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 0;
}

.thank-you {
    color: white;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contact-addendum {
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-size: 24px;
    border-radius: 4px;
    background-color: rgba(96, 96, 96, 0.8);
}
